

#sidePannel{
	position: absolute;
	left: 0;
	top: 0;
	height: 600px;
	width: 80px;
	background-color: black;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 120px;
	padding-bottom: 120px;
	font-family: 'Indie Flower', cursive;
	z-index: 6;
}

#topPannel{
	position: fixed;
	top: 0;
	height: 20px;
	width: 100%;
	background-color: black;
	z-index: 6;
}

#bottomPannel{
	position: fixed;
	bottom: 0;
	height: 20px;
	width: 100%;
	background-color: black;
	z-index: 6;
}

#rightPannel{
	position: fixed;
	right: 0;
	height: 100%;
	width: 20px;
	background-color: black;
	z-index: 6;
}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6{
	position: absolute;
	left: 80px;
	top: 0;
	z-index: 1;
}

#pic1{
	z-index: 3;
}

#b1, #b2, #b3, #b4, #b5, #b6{
	position: absolute;
	left: 80px;
	top: 0;
	-webkit-transition: all 1s;
}

#b1{
	position: absolute;
	top: 0;
	z-index: 5;
}

#b2{
	position: absolute;
	left: 180px;
	top: 0;
	z-index: 5;
}

#b3{
	position: absolute;
	left: 280px;
	top: 0;
	z-index: 5;
}

#b4{
	position: absolute;
	left: 380px;
	top: 0;
	z-index: 5;
}

#b5{
	position: absolute;
	left: 480px;
	top: 0;
	z-index: 5;
}

#b6{
	position: absolute;
	left: 580px;
	top: 0;
	z-index: 5;
}

